<a href="https://colab.research.google.com/github/keithferns98/pyspark_demo/blob/main/pyspark_simple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 36 kB/s
Collecting py4j
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 29.8 MB/s
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=b0def616f29d267a58bc6ea74b9b4eb761b4284b4a38dc71331f205061bda6cd
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("Test_pyspark").getOrCreate()

In [ ]:
df=spark.read.csv('ipl_ball_by_ball.csv',header=True,inferSchema=True)
df1=spark.read.csv('ipl_matches.csv',header=True,inferSchema=True)
df2=spark.read.csv('ipl_venue.csv',header=True,inferSchema=True)

AnalysisException: ignored

In [ ]:
# df.createOrReplaceTempView('balls')
# spark.sql(
#     """
#     select * from balls
#     """
# )
# df1.createOrReplaceTempView("matches")
# spark.sql(
#     """
#     select * from matches
#     """
# )
# df2.createOrReplaceTempView("venue")
# spark.sql(
# """
# select * from venue
# """
# )

In [ ]:
df.show(vertical=True)

-RECORD 0--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 16
 ball             | 4
 batsman          | V Kohli
 non_striker      | R Vinay Kumar
 bowler           | CRD Fernando
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 1--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 16
 ball             | 5
 batsman          | V Kohli
 non_striker      | R Vinay Kumar
 bowler           | CRD Fernando
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 2--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 16
 ball             | 6
 batsman          | R Vinay Kumar
 non_striker      | V Kohli
 bowler           | CRD Fernando
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 3--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 17
 ball             | 1
 batsman          | R Vinay Kumar
 non_striker      | V Kohli
 bowler           | R McLaren
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 4--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 17
 ball             | 2
 batsman          | V Kohli
 non_striker      | R Vinay Kumar
 bowler           | R McLaren
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 5--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 17
 ball             | 3
 batsman          | R Vinay Kumar
 non_striker      | V Kohli
 bowler           | R McLaren
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 6--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 17
 ball             | 4
 batsman          | R Vinay Kumar
 non_striker      | V Kohli
 bowler           | R McLaren
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 7--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 17
 ball             | 5
 batsman          | R Vinay Kumar
 non_striker      | V Kohli
 bowler           | R McLaren
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 8--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 17
 ball             | 6
 batsman          | V Kohli
 non_striker      | R Vinay Kumar
 bowler           | R McLaren
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 9--------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 18
 ball             | 1
 batsman          | V Kohli
 non_striker      | R Vinay Kumar
 bowler           | KA Pollard
 batsman_runs     | 4
 extra_runs       | 0
 total_runs       | 4
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 10-------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 18
 ball             | 2
 batsman          | V Kohli
 non_striker      | R Vinay Kumar
 bowler           | KA Pollard
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 1
 dismissal_kind   | caught
 player_dismissed | V Kohli
 fielder          | AP Tare
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 11-------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 18
 ball             | 3
 batsman          | R Vinay Kumar
 non_striker      | Pankaj Singh
 bowler           | KA Pollard
 batsman_runs     | 0
 extra_runs       | 1
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | wides
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 12-------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 18
 ball             | 4
 batsman          | R Vinay Kumar
 non_striker      | Pankaj Singh
 bowler           | KA Pollard
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 13-------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 18
 ball             | 5
 batsman          | Pankaj Singh
 non_striker      | R Vinay Kumar
 bowler           | KA Pollard
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 14-------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 18
 ball             | 6
 batsman          | R Vinay Kumar
 non_striker      | Pankaj Singh
 bowler           | KA Pollard
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 15-------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 18
 ball             | 7
 batsman          | Pankaj Singh
 non_striker      | R Vinay Kumar
 bowler           | KA Pollard
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 1
 dismissal_kind   | caught
 player_dismissed | Pankaj Singh
 fielder          | Z Khan
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 16-------------------------------
 match_id         | 419157
 inning           | 2
 overs            | 19
 ball             | 1
 batsman          | A Kumble
 non_striker      | R Vinay Kumar
 bowler           | R McLaren
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Royal Challengers...
 bowling_team     | Mumbai Indians
-RECORD 17-------------------------------
 match_id         | 419157
 inning           | 1
 overs            | 0
 ball             | 1
 batsman          | R McLaren
 non_striker      | SR Tendulkar
 bowler           | DW Steyn
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Mumbai Indians
 bowling_team     | Royal Challengers...
-RECORD 18-------------------------------
 match_id         | 419157
 inning           | 1
 overs            | 0
 ball             | 2
 batsman          | SR Tendulkar
 non_striker      | R McLaren
 bowler           | DW Steyn
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Mumbai Indians
 bowling_team     | Royal Challengers...
-RECORD 19-------------------------------
 match_id         | 419157
 inning           | 1
 overs            | 0
 ball             | 3
 batsman          | SR Tendulkar
 non_striker      | R McLaren
 bowler           | DW Steyn
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | NA
 fielder          | NA
 extras_type      | NA
 batting_team     | Mumbai Indians
 bowling_team     | Royal Challengers...
only showing top 20 rows

In [ ]:
df1.show()

+--------+----------+---------------+--------+-------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+----------+------+-----------+--------------+
|match_id|      date|player_of_match|venue_id|neutral_venue|               team1|               team2|         toss_winner|toss_decision|              winner| result|result_margin|eliminator|method|    umpire1|       umpire2|
+--------+----------+---------------+--------+-------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+----------+------+-----------+--------------+
|  335982|2008-04-18|    BB McCullum|      35|            0|Royal Challengers...|Kolkata Knight Ri...|Royal Challengers...|        field|Kolkata Knight Ri...|   runs|          140|         N|    NA|  Asad Rauf|   RE Koertzen|
|  335983|2008-04-19|     MEK Hussey|      31|            0|     Kings XI Punjab| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|           33|         N|    NA|  MR Benson|    SL Shastri|
|  335984|2008-04-19|    MF Maharoof|      27|            0|    Delhi Daredevils|    Rajasthan Royals|    Rajasthan Royals|          bat|    Delhi Daredevils|wickets|            9|         N|    NA|  Aleem Dar|GA Pratapkumar|
|  335985|2008-04-20|     MV Boucher|      14|            0|      Mumbai Indians|Royal Challengers...|      Mumbai Indians|          bat|Royal Challengers...|wickets|            5|         N|    NA|   SJ Davis|     DJ Harper|
|  335986|2008-04-20|      DJ Hussey|      15|            0|Kolkata Knight Ri...|     Deccan Chargers|     Deccan Chargers|          bat|Kolkata Knight Ri...|wickets|            5|         N|    NA|  BF Bowden|   K Hariharan|
|  335987|2008-04-21|      SR Watson|      20|            0|    Rajasthan Royals|     Kings XI Punjab|     Kings XI Punjab|          bat|    Rajasthan Royals|wickets|            6|         N|    NA|  Aleem Dar|     RB Tiffin|
|  335988|2008-04-22|       V Sehwag|      22|            0|     Deccan Chargers|    Delhi Daredevils|     Deccan Chargers|          bat|    Delhi Daredevils|wickets|            9|         N|    NA|  IL Howell|     AM Saheba|
|  335989|2008-04-23|      ML Hayden|      29|            0| Chennai Super Kings|      Mumbai Indians|      Mumbai Indians|        field| Chennai Super Kings|   runs|            6|         N|    NA|  DJ Harper|GA Pratapkumar|
|  335990|2008-04-24|      YK Pathan|      22|            0|     Deccan Chargers|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|            3|         N|    NA|  Asad Rauf|     MR Benson|
|  335991|2008-04-25|  KC Sangakkara|      31|            0|     Kings XI Punjab|      Mumbai Indians|      Mumbai Indians|        field|     Kings XI Punjab|   runs|           66|         N|    NA|  Aleem Dar|     AM Saheba|
|  335992|2008-04-26|      SR Watson|      35|            0|Royal Challengers...|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|            7|         N|    NA|  MR Benson|     IL Howell|
|  335993|2008-04-26|       JDP Oram|      29|            0| Chennai Super Kings|Kolkata Knight Ri...|Kolkata Knight Ri...|          bat| Chennai Super Kings|wickets|            9|         N|    NA|  BF Bowden|AV Jayaprakash|
|  335994|2008-04-27|   AC Gilchrist|      13|            0|      Mumbai Indians|     Deccan Chargers|     Deccan Chargers|        field|     Deccan Chargers|wickets|           10|         N|    NA|  Asad Rauf|    SL Shastri|
|  335995|2008-04-27|      SM Katich|      31|            0|     Kings XI Punjab|    Delhi Daredevils|    Delhi Daredevils|          bat|     Kings XI Punjab|wickets|            4|         N|    NA|RE Koertzen|     I Shivram|
|  335996|2008-04-28|       MS Dhoni|      35|            0|Royal Challengers...| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|           13|         N|    NA|BR Doctrove|     RB Tiffin|
|  335997|2008-04-29|  ST Jayasuriya|      15|            0|Kolkata Knight Ri...|      Mumbai Indians|Kolkata Knight Ri...|          bat|      Mumbai Indians|wickets|            7|         N|    NA|  BF Bowden|AV Jayaprakash|
|  335998|2008-04-30|     GD McGrath|      27|            0|    Delhi Daredevils|Royal Challengers...|Royal Challengers...|        field|    Delhi Daredevils|   runs|           10|         N|    NA|  Aleem Dar|     I Shivram|
|  335999|2008-05-01|       SE Marsh|      22|            0|     Deccan Chargers|     Kings XI Punjab|     Kings XI Punjab|        field|     Kings XI Punjab|wickets|            7|         N|    NA|BR Doctrove|     RB Tiffin|
|  336000|2008-05-01|    SA Asnodkar|      20|            0|    Rajasthan Royals|Kolkata Knight Ri...|    Rajasthan Royals|          bat|    Rajasthan Royals|   runs|           45|         N|    NA|RE Koertzen|GA Pratapkumar|
|  336001|2008-05-02|       V Sehwag|      29|            0| Chennai Super Kings|    Delhi Daredevils| Chennai Super Kings|          bat|    Delhi Daredevils|wickets|            8|         N|    NA|  BF Bowden|   K Hariharan|
+--------+----------+---------------+--------+-------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+----------+------+-----------+--------------+
only showing top 20 rows

In [ ]:
df2.show()

+--------+--------------------+--------------+
|venue_id|               venue|          city|
+--------+--------------------+--------------+
|       1|Dr. Y.S. Rajasekh...| Visakhapatnam|
|       2|Sharjah Cricket S...|       Sharjah|
|       3|JSCA Internationa...|        Ranchi|
|       4|Saurashtra Cricke...|        Rajkot|
|       5|Shaheed Veer Nara...|        Raipur|
|       6|Maharashtra Crick...|          Pune|
|       7|Subrata Roy Sahar...|          Pune|
|       8|    St George's Park|Port Elizabeth|
|       9|Vidarbha Cricket ...|        Nagpur|
|      12|   Brabourne Stadium|        Mumbai|
|      13|Dr DY Patil Sport...|        Mumbai|
|      14|    Wankhede Stadium|        Mumbai|
|      15|        Eden Gardens|       Kolkata|
|      16|       Nehru Stadium|         Kochi|
|      17|De Beers Diamond ...|     Kimberley|
|      18|          Green Park|        Kanpur|
|      19|New Wanderers Sta...|  Johannesburg|
|      20|Sawai Mansingh St...|        Jaipur|
|      21|Holkar Cricket St...|        Indore|
|      22|Rajiv Gandhi Inte...|     Hyderabad|
+--------+--------------------+--------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- match_id: integer (nullable = true)
 |-- inning: integer (nullable = true)
 |-- overs: integer (nullable = true)
 |-- ball: integer (nullable = true)
 |-- batsman: string (nullable = true)
 |-- non_striker: string (nullable = true)
 |-- bowler: string (nullable = true)
 |-- batsman_runs: integer (nullable = true)
 |-- extra_runs: integer (nullable = true)
 |-- total_runs: integer (nullable = true)
 |-- non_boundary: integer (nullable = true)
 |-- is_wicket: integer (nullable = true)
 |-- dismissal_kind: string (nullable = true)
 |-- player_dismissed: string (nullable = true)
 |-- fielder: string (nullable = true)
 |-- extras_type: string (nullable = true)
 |-- batting_team: string (nullable = true)
 |-- bowling_team: string (nullable = true)

In [ ]:
df.show()

+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|match_id|inning|overs|ball|      batsman|  non_striker|      bowler|batsman_runs|extra_runs|total_runs|non_boundary|is_wicket|dismissal_kind|player_dismissed|fielder|extras_type|        batting_team|        bowling_team|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|  419157|     2|   16|   4|      V Kohli|R Vinay Kumar|CRD Fernando|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   5|      V Kohli|R Vinay Kumar|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   6|R Vinay Kumar|      V Kohli|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   1|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   2|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   3|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   4|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   5|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   6|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   1|      V Kohli|R Vinay Kumar|  KA Pollard|           4|         0|         4|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   2|      V Kohli|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|         V Kohli|AP Tare|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   3|R Vinay Kumar| Pankaj Singh|  KA Pollard|           0|         1|         1|           0|        0|            NA|              NA|     NA|      wides|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   4|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   5| Pankaj Singh|R Vinay Kumar|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   6|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   7| Pankaj Singh|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|    Pankaj Singh| Z Khan|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   19|   1|     A Kumble|R Vinay Kumar|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     1|    0|   1|    R McLaren| SR Tendulkar|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   2| SR Tendulkar|    R McLaren|    DW Steyn|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   3| SR Tendulkar|    R McLaren|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.types import IntegerType
df=df.withColumn("is_wicket",df['is_wicket'].cast(IntegerType()))
df=df.withColumn("batsman_runs",df["batsman_runs"].cast(IntegerType()))
df=df.withColumn("extra_runs",df["extra_runs"].cast(IntegerType()))
df=df.withColumn("total_runs",df["total_runs"].cast(IntegerType()))

In [ ]:
df.summary().show(vertical=True)

-RECORD 0--------------------------------
 summary          | count
 match_id         | 193468
 inning           | 193468
 overs            | 193468
 ball             | 193468
 batsman          | 193468
 non_striker      | 193468
 bowler           | 193468
 batsman_runs     | 193468
 extra_runs       | 193468
 total_runs       | 193468
 non_boundary     | 193468
 is_wicket        | 193468
 dismissal_kind   | 193468
 player_dismissed | 193468
 fielder          | 193468
 extras_type      | 193468
 batting_team     | 193468
 bowling_team     | 193468
-RECORD 1--------------------------------
 summary          | mean
 match_id         | 756768.8084386048
 inning           | 1.4821314119130813
 overs            | 9.17702669175264
 ball             | 3.615967498501044
 batsman          | null
 non_striker      | null
 bowler           | null
 batsman_runs     | 1.2402309425848201
 extra_runs       | 0.06641408398288089
 total_runs       | 1.3066450265677012
 non_boundary     | 8.270101515496103E-5
 is_wicket        | 0.049077883681022186
 dismissal_kind   | null
 player_dismissed | null
 fielder          | null
 extras_type      | null
 batting_team     | null
 bowling_team     | null
-RECORD 2--------------------------------
 summary          | stddev
 match_id         | 306097.0914176293
 inning           | 0.49968190293373455
 overs            | 5.676847894661752
 ball             | 1.8071276073795755
 batsman          | null
 non_striker      | null
 bowler           | null
 batsman_runs     | 1.6108665520479686
 extra_runs       | 0.33999133626666694
 total_runs       | 1.598801764933192
 non_boundary     | 0.009093657302209582
 is_wicket        | 0.21603121589317276
 dismissal_kind   | null
 player_dismissed | null
 fielder          | null
 extras_type      | null
 batting_team     | null
 bowling_team     | null
-RECORD 3--------------------------------
 summary          | min
 match_id         | 335982
 inning           | 1
 overs            | 0
 ball             | 1
 batsman          | A Ashish Reddy
 non_striker      | A Ashish Reddy
 bowler           | A Ashish Reddy
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | NA
 player_dismissed | A Ashish Reddy
 fielder          | A Ashish Reddy
 extras_type      | NA
 batting_team     | Chennai Super Kings
 bowling_team     | Chennai Super Kings
-RECORD 4--------------------------------
 summary          | 25%
 match_id         | 501227
 inning           | 1
 overs            | 4
 ball             | 2
 batsman          | null
 non_striker      | null
 bowler           | null
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | null
 player_dismissed | null
 fielder          | null
 extras_type      | null
 batting_team     | null
 bowling_team     | null
-RECORD 5--------------------------------
 summary          | 50%
 match_id         | 729297
 inning           | 1
 overs            | 9
 ball             | 4
 batsman          | null
 non_striker      | null
 bowler           | null
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | null
 player_dismissed | null
 fielder          | null
 extras_type      | null
 batting_team     | null
 bowling_team     | null
-RECORD 6--------------------------------
 summary          | 75%
 match_id         | 1082628
 inning           | 2
 overs            | 14
 ball             | 5
 batsman          | null
 non_striker      | null
 bowler           | null
 batsman_runs     | 1
 extra_runs       | 0
 total_runs       | 1
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | null
 player_dismissed | null
 fielder          | null
 extras_type      | null
 batting_team     | null
 bowling_team     | null
-RECORD 7--------------------------------
 summary          | max
 match_id         | 1237181
 inning           | 2
 overs            | 19
 ball             | 9
 batsman          | Z Khan
 non_striker      | Z Khan
 bowler           | Z Khan
 batsman_runs     | 6
 extra_runs       | 7
 total_runs       | 7
 non_boundary     | 1
 is_wicket        | 1
 dismissal_kind   | stumped
 player_dismissed | Z Khan
 fielder          | Z Khan,Q de Kock
 extras_type      | wides
 batting_team     | Sunrisers Hyderabad
 bowling_team     | Sunrisers Hyderabad

In [ ]:
df.show()

+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|match_id|inning|overs|ball|      batsman|  non_striker|      bowler|batsman_runs|extra_runs|total_runs|non_boundary|is_wicket|dismissal_kind|player_dismissed|fielder|extras_type|        batting_team|        bowling_team|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|  419157|     2|   16|   4|      V Kohli|R Vinay Kumar|CRD Fernando|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   5|      V Kohli|R Vinay Kumar|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   6|R Vinay Kumar|      V Kohli|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   1|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   2|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   3|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   4|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   5|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   6|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   1|      V Kohli|R Vinay Kumar|  KA Pollard|           4|         0|         4|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   2|      V Kohli|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|         V Kohli|AP Tare|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   3|R Vinay Kumar| Pankaj Singh|  KA Pollard|           0|         1|         1|           0|        0|            NA|              NA|     NA|      wides|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   4|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   5| Pankaj Singh|R Vinay Kumar|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   6|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   7| Pankaj Singh|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|    Pankaj Singh| Z Khan|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   19|   1|     A Kumble|R Vinay Kumar|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     1|    0|   1|    R McLaren| SR Tendulkar|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   2| SR Tendulkar|    R McLaren|    DW Steyn|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   3| SR Tendulkar|    R McLaren|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
df.select('extras_type').distinct().show()

+-----------+
|extras_type|
+-----------+
|         NA|
|    noballs|
|      wides|
|       byes|
|    legbyes|
|    penalty|
+-----------+

In [ ]:
from pyspark.sql.functions import isnan,when,count,col
df.select([count(when(isnan(c) | col(c).isNull() | col(c).contains('NA'),c)).alias(c)for c in df.columns]).show(vertical=True)

-RECORD 0------------------
 match_id         | 0
 inning           | 0
 overs            | 0
 ball             | 0
 batsman          | 31
 non_striker      | 23
 bowler           | 587
 batsman_runs     | 0
 extra_runs       | 0
 total_runs       | 0
 non_boundary     | 0
 is_wicket        | 0
 dismissal_kind   | 183973
 player_dismissed | 183975
 fielder          | 186689
 extras_type      | 183235
 batting_team     | 0
 bowling_team     | 191

In [ ]:
from pyspark.sql.functions import isnan, when, count, col
df1.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df1.columns]).show(vertical=True)

-RECORD 0--------------
 match_id        | 0
 date            | 0
 player_of_match | 0
 venue_id        | 0
 neutral_venue   | 0
 team1           | 0
 team2           | 0
 toss_winner     | 0
 toss_decision   | 0
 winner          | 0
 result          | 0
 result_margin   | 0
 eliminator      | 0
 method          | 0
 umpire1         | 0
 umpire2         | 0

Which players have most sixes in IPL?

In [ ]:
df.select("batsman_runs").distinct().show()

+------------+
|batsman_runs|
+------------+
|           1|
|           6|
|           3|
|           5|
|           4|
|           2|
|           0|
+------------+

In [ ]:
sixes=df.filter(df.batsman_runs.isin(4,6,1))
sixes.groupby("batsman").count().sort("count",ascending=False).show(10)

+--------------+-----+
|       batsman|count|
+--------------+-----+
|       V Kohli| 2625|
|      SK Raina| 2353|
|      S Dhawan| 2337|
|     RG Sharma| 2335|
|     DA Warner| 2053|
|AB de Villiers| 1958|
|    RV Uthappa| 1948|
|      MS Dhoni| 1938|
|     G Gambhir| 1903|
|     AM Rahane| 1818|
+--------------+-----+
only showing top 10 rows

In [ ]:
df1.printSchema()

root
 |-- match_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- player_of_match: string (nullable = true)
 |-- venue_id: integer (nullable = true)
 |-- neutral_venue: integer (nullable = true)
 |-- team1: string (nullable = true)
 |-- team2: string (nullable = true)
 |-- toss_winner: string (nullable = true)
 |-- toss_decision: string (nullable = true)
 |-- winner: string (nullable = true)
 |-- result: string (nullable = true)
 |-- result_margin: string (nullable = true)
 |-- eliminator: string (nullable = true)
 |-- method: string (nullable = true)
 |-- umpire1: string (nullable = true)
 |-- umpire2: string (nullable = true)

In [ ]:
from pyspark.sql.functions import col
from pyspark.sql import Row
from pyspark.sql.functions import sum 
from pyspark.sql.functions import count

In [ ]:
four_six=df.filter(df.batsman_runs.isin(6,4))
four_six2=four_six.groupBy('Batsman').agg(sum('batsman_runs').alias("Runs in boundaries")).sort('Runs in boundaries',ascending=False)

In [ ]:
four_six2.show(10)

+--------------+------------------+
|       Batsman|Runs in boundaries|
+--------------+------------------+
|      CH Gayle|              3630|
|       V Kohli|              3228|
|     DA Warner|              3210|
|      SK Raina|              3136|
|     RG Sharma|              3116|
|      S Dhawan|              3018|
|AB de Villiers|              2970|
|    RV Uthappa|              2794|
|     SR Watson|              2644|
|      MS Dhoni|              2548|
+--------------+------------------+
only showing top 10 rows

In [ ]:
df.count()

193468

In [ ]:
import sqlite3
class database:
  def main():
    try:
      conn=sqlite3.connect("customer.db")
      print("Created Successfully")

      c=conn.cursor()
      # c.execute("""CREATE TABLE customers(
      #   first_name text,
      #   last_name text,
      #   email text 
      # )""")

      # many_customers=[
      #                 ('Wes','Brown','wes@brown.com'),
      #                 ('Keith','Ferns','keith@ferns.com'),
      #                 ('Step','pas','Step@pas.com')
      #                 ]
      # c.executemany("INSERT INTO customers VALUES (?,?,?)",many_customers)
      # print("Values entered")

      #c.execute("SELECT * FROM customers WHERE last_name LIKE 'Br%'")
      # c.fetchone()
      # c.fetchmany(3)

      #Update Customers
      # c.execute("""UPDATE customers SET first_name ='BOB'
      #           WHERE rowid=1      
      # """)

      # c.execute("DELETE from customers WHERE rowid=1") #DELETE record

     # c.execute("SELECT rowid,* FROM customers ORDER BY  last_name DESC") #DESCENDING

      #c.execute("SELECT rowid,* FROM customers WHERE last_name LIKE 'Fe%' AND rowid =2 ") #LOgical
      #c.execute("SELECT rowid,* FROM customers WHERE last_name LIKE 'Fe%' OR rowid =2 ")  #OPerations
      
      
      #c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC  LIMIT 2") #LIMIT shows number of rows u want

      #c.execute("DROP table customers") #DELTERS thetable

      #c.execute("Select rowid, * FROM customers")



      items=c.fetchall()
      for item in items:
        #print(item[0] + '\t' + item[1] + '\t' + item[2])
        print(item)
      conn.commit()
      conn.close()
    except Exception as e:
      print(e)
if __name__=="__main__":
  db=database
  db.main()

Created Successfully
(9, 'Step', 'pas', 'Step@pas.com')
(8, 'Keith', 'Ferns', 'keith@ferns.com')

In [ ]:
a=('k','f','f')
a[0]='j'

TypeError: ignored

In [ ]:
import csv
import sqlite3
    
# try:
  
# Import csv and extract data
with open('ipl_ball_by_ball.csv', 'r') as fin:
      dr = csv.DictReader(fin)
      ipl_ball_info = [(i['match_id'], i['inning'],i['overs'],i['ball'],i['batsman'],i['non_striker'],i['bowler'],i['batsman_runs'],i['extra_runs'],i['total_runs'],i['non_boundary'],i['is_wicket'],i['dismissal_kind'],i['player_dismissed'],i['fielder'],i['extras_type'],i['batting_team'],i['bowling_team']) for i in dr]
      print(ipl_ball_info)
    #  for line in fin:
    #     line = line.replace('"', '')
    #     data = line.split(",")

# Connect to SQLite
sqliteConnection = sqlite3.connect('sql.db')
cursor = sqliteConnection.cursor()

# Create student table
cursor.execute("""Create Table ipl_ball (match_id integer, inning integer, overs integer, ball integer, batsman text, non_striker text, bowler text, batsman_runs integer, extra_runs integer, total_runs integer, non_boundary integer, is_wicket integer, dismissal_kind text, player_dismissed text, fielder text, extras_type text, batting_team text, bowling_team text;""")

# Insert data into table
cursor.executemany(
    """Insert Into ipl_ball (match_id, inning, overs, ball,batsman, non_striker, bowler, batsman_runs, extra_runs, total_runs, non_boundary, is_wicket, dismissal_kind, player_dismissed, fielder, extras_type, batting_team, bowling_team) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", ipl_ball_info""")

# Show student table
cursor.execute('select * from ipl_ball;')

# View result
result = cursor.fetchall()
print(result)

# Commit work and close connection
sqliteConnection.commit()
cursor.close()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

OperationalError: ignored

In [ ]:
df.printSchema()

root
 |-- match_id: integer (nullable = true)
 |-- inning: integer (nullable = true)
 |-- overs: integer (nullable = true)
 |-- ball: integer (nullable = true)
 |-- batsman: string (nullable = true)
 |-- non_striker: string (nullable = true)
 |-- bowler: string (nullable = true)
 |-- batsman_runs: integer (nullable = true)
 |-- extra_runs: integer (nullable = true)
 |-- total_runs: integer (nullable = true)
 |-- non_boundary: integer (nullable = true)
 |-- is_wicket: integer (nullable = true)
 |-- dismissal_kind: string (nullable = true)
 |-- player_dismissed: string (nullable = true)
 |-- fielder: string (nullable = true)
 |-- extras_type: string (nullable = true)
 |-- batting_team: string (nullable = true)
 |-- bowling_team: string (nullable = true)

In [17]:
# Import required modules
import csv
import sqlite3
 
# Connecting to the geeks database
connection = sqlite3.connect('ipl_ball.db')
 
# Creating a cursor object to execute
# SQL queries on a database table
cursor = connection.cursor()
 

create_table = '''CREATE TABLE ipl(
                match_id INTEGER ,
                inning INTEGER ,
                overs INTEGER,
                ball INTEGER,
                batsman TEXT,
                non_striker TEXT,
                bowler TEXT,
                batsman_runs INTEGER,
                extra_runs INTEGER,
                total_runs INTEGER,
                non_boundary INTEGER,
                is_wicket INTEGER,
                dismissal_kind TEXT,
                player_dismissed TEXT,
                fielder TEXT,
                extras_type TEXT,
                batting_team TEXT,
                bowling_team TEXT
                 );
                '''
 
# # Creating the table into our
# # database
# cursor.execute(create_table)
 
# Opening the person-records.csv file
file = open('ipl_ball_by_ball.csv')
 
# Reading the contents of the
# person-records.csv file
contents = csv.reader(file)
 
# SQL query to insert data into the
# person table
insert_records = "INSERT INTO ipl (match_id, inning, overs, ball, batsman, non_striker, bowler, batsman_runs, extra_runs, total_runs, non_boundary, is_wicket, dismissal_kind, player_dismissed, fielder, extras_type, batting_team, bowling_team ) VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
 
# Importing the contents of the file
# into our person table
cursor.executemany(insert_records, contents)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table
select_all = "SELECT * FROM ipl"
rows = cursor.execute(select_all).fetchmany(5)
 
# Output to the console screen
for r in rows:
    print(r)
 
# Committing the changes
connection.commit()
 
# closing the database connection
connection.close()

OperationalError: ignored

In [25]:
import pandas as pd
df1=pd.read_csv("ipl_matches.csv")
df1.columns

Index(['match_id', 'date', 'player_of_match', 'venue_id', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         816 non-null    int64
 1   date             816 non-null    object
 2   player_of_match  812 non-null    object
 3   venue_id         816 non-null    int64
 4   neutral_venue    816 non-null    int64
 5   team1            816 non-null    object
 6   team2            816 non-null    object
 7   toss_winner      816 non-null    object
 8   toss_decision    816 non-null    object
 9   winner           812 non-null    object
 10  result           812 non-null    object
 11  result_margin    799 non-null    float64
 12  eliminator       812 non-null    object
 13  method           19 non-null     object
 14  umpire1          816 non-null    object
 15  umpire2          816 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 102.1+ KB

In [29]:
df2=pd.read_csv('ipl_venue.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   venue_id  35 non-null     int64
 1   venue     35 non-null     object
 2   city      35 non-null     object
dtypes: int64(1), object(2)
memory usage: 968.0+ bytes

In [30]:
import csv
import sqlite3
import os
class ipl_ball1:
    def db1():
        try:
          if os.path.isfile("ipl_ball.db"):
            print("Database exist")
          else:
            
            connection = sqlite3.connect('ipl_ball.db')

            cursor = connection.cursor()

            create_table = '''CREATE TABLE ipl(
                            match_id INTEGER ,
                            inning INTEGER ,
                            overs INTEGER,
                            ball INTEGER,
                            batsman TEXT,
                            non_striker TEXT,
                            bowler TEXT,
                            batsman_runs INTEGER,
                            extra_runs INTEGER,
                            total_runs INTEGER,
                            non_boundary INTEGER,
                            is_wicket INTEGER,
                            dismissal_kind TEXT,
                            player_dismissed TEXT,
                            fielder TEXT,
                            extras_type TEXT,
                            batting_team TEXT,
                            bowling_team TEXT
                             );
                            '''
            cursor.execute(create_table)

            file = open('ipl_ball_by_ball.csv')
            contents = csv.reader(file)


            insert_records = "INSERT INTO ipl (match_id, inning, overs, ball, batsman, non_striker, bowler, batsman_runs, extra_runs, total_runs, non_boundary, is_wicket, dismissal_kind, player_dismissed, fielder, extras_type, batting_team, bowling_team ) VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

            cursor.executemany(insert_records, contents)

            select_all = "SELECT * FROM ipl"
            rows = cursor.execute(select_all).fetchmany(5)

            # Output to the console screen
            for r in rows:
                print(r)

            connection.commit()

            connection.close()
        except Exception as e:
            print(e)
    def db2():
      try:
          if os.path.isfile("ipl_matches.db"):
            print("Database exist")
          else:
            
            connection = sqlite3.connect('ipl_matches.db')

            cursor = connection.cursor()

            create_table = '''CREATE TABLE ipl_match(
                            match_id INTEGER ,
                            date TEXT ,
                            player_of_match TEXT,
                            venue_id INTEGER,
                            neutral_venue INTEGER,
                            team1 TEXT,
                            team2 TEXT,
                            toss_winner TEXT,
                            toss_decision TEXT,                           
                            winner TEXT,
                            result TEXT,
                            result_margin INTEGER,
                            eliminator TEXT,
                            method TEXT,                           
                            umpire1 TEXT,
                            umpire2 TEXT
                             );
                            '''
            cursor.execute(create_table)

            file = open('ipl_matches.csv')
            contents = csv.reader(file)


            insert_records = "INSERT INTO ipl_match (match_id, date, player_of_match, venue_id, neutral_venue, team1, team2,\
             toss_winner, toss_decision, winner, result, result_margin, eliminator, method, umpire1, umpire2 ) VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ? )"

            cursor.executemany(insert_records, contents)

            select_all = "SELECT * FROM ipl_match"
            rows = cursor.execute(select_all).fetchmany(5)

            # Output to the console screen
            for r in rows:
                print(r)

            connection.commit()

            connection.close()
      except Exception as e:
            print(e)

    def db3():
      try:
          if os.path.isfile("ipl_venues.db"):
            print("Database exist")
          else:
            
            connection = sqlite3.connect('ipl_venues.db')

            cursor = connection.cursor()

            create_table = '''CREATE TABLE ipl_venue(
                            venue_id INTEGER ,
                            venue TEXT ,
                            city TEXT);
                            '''
            cursor.execute(create_table)
            file = open('ipl_venue.csv')
            contents = csv.reader(file)

            insert_records="INSERT INTO ipl_venue (venue_id, venue, city) VALUES(?,?,?)"
            cursor.executemany(insert_records, contents)

            select_all = "SELECT * FROM ipl_venue"
            rows = cursor.execute(select_all).fetchmany(5)

            for r in rows:
                print(r)

            connection.commit()

            connection.close()
      except Exception as e:
            print(e)


      


            
            

if __name__=="__main__": 

    db=ipl_ball1
    db.db1()
    db.db2() 
    db.db3()

Database exist
Database exist
('venue_id', 'venue', 'city')
(1, 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium', 'Visakhapatnam')
(2, 'Sharjah Cricket Stadium', 'Sharjah')
(3, 'JSCA International Stadium Complex', 'Ranchi')
(4, 'Saurashtra Cricket Association Stadium', 'Rajkot')

In [ ]:
import sqlite3 
import sys


class SqlMgr:

	def __init__(self):
		
		self.dbPath = 'ipl.db'
		self.con = None
		self.getConnection(self.dbPath)

	def getConnection(self, dbPath):
		
		try:
			self.con = sqlite3.connect(dbPath)
			print("connection created")
		except Exception as e:
			print(e)
			#sys.exit(1)
  def TableCreation(self):
     create_table = '''CREATE TABLE ipl(
                            match_id INTEGER ,
                            inning INTEGER ,
                            overs INTEGER,
                            ball INTEGER,
                            batsman TEXT,
                            non_striker TEXT,
                            bowler TEXT,
                            batsman_runs INTEGER,
                            extra_runs INTEGER,
                            total_runs INTEGER,
                            non_boundary INTEGER,
                            is_wicket INTEGER,
                            dismissal_kind TEXT,
                            player_dismissed TEXT,
                            fielder TEXT,
                            extras_type TEXT,
                            batting_team TEXT,
                            bowling_team TEXT
                             );'''

In [18]:
import csv
import sqlite3
 
# Connecting to the geeks database
connection = sqlite3.connect('ipl_ball.db')
 
# Creating a cursor object to execute
# SQL queries on a database table
cursor = connection.cursor()
 
# Table Definition
# create_table = '''CREATE TABLE ipl_ball(
#                 match_id INTEGER ,
#                 inning INTEGER ,
#                 overs INTEGER,
#                 ball INTEGER,
#                 batsman TEXT,
#                 non_striker TEXT,
#                 bowler TEXT,
#                 batsman_runs INTEGER,
#                 extra_runs INTEGER,
#                 total_runs INTEGER,
#                 non_boundary INTEGER,
#                 is_wicket INTEGER,
#                 dismissal_kind TEXT,
#                 player_dismissed TEXT,
#                 fielder TEXT,
#                 extras_type TEXT,
#                 batting_team TEXT,
#                 bowling_team TEXT
#                  );
#                 '''
 
# # Creating the table into our
# # database
# cursor.execute(create_table)
 
# Opening the person-records.csv file
file = open('ipl_ball_by_ball.csv')
 
# Reading the contents of the
# person-records.csv file
contents = csv.reader(file)
 
# SQL query to insert data into the
# person table
insert_records = "INSERT INTO ipl_ball (match_id, inning, overs, ball, batsman, non_striker, bowler, batsman_runs, extra_runs, total_runs, non_boundary, is_wicket, dismissal_kind, player_dismissed, fielder, extras_type, batting_team, bowling_team ) VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
 
# Importing the contents of the file
# into our person table
cursor.executemany(insert_records, contents)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table
select_all = "SELECT * FROM ipl_ball"
rows = cursor.execute(select_all).fetchmany(5)
 
# Output to the console screen
for r in rows:
    print(r)
 
# Committing the changes
connection.commit()
 
# closing the database connection
connection.close()

OperationalError: ignored

In [22]:
import os
os.path.isfile("ipl_ball.db")

True